<select class="form-control mt-4" name="selectedSensor" [(ngModel)]="selectedSensor">
  <option *ngFor="let s of sensors" [ngValue]="s">{{ s.sensorId }} ({{ s.type }})</option>
</select>


<div class="row">
  <div class="col-md-6">
    <div class="card mt-4">
      <div class="card-body">
        <h4 class="card-title">Start</h4>
        <button type="button" class="btn btn-secondary btn-sm" (click)="setStart('24hago')">24 h ago</button>
        <button class="btn btn-secondary btn-sm" (click)="setStart('12hago')">12 h ago</button>
        <button class="btn btn-secondary btn-sm" (click)="setStart('3hago')">3 h ago</button>
        <button class="btn btn-secondary btn-sm" (click)="setStart('1hago')">1 h ago</button>
        <button class="btn btn-secondary btn-sm" (click)="setStart('now')">now</button>
        <span class="badge badge-success float-right">{{ start }}</span>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="card mt-4 mb-4">
      <div class="card-body">
        <h4 class="card-title">End</h4>
        <button type="button" class="btn btn-secondary btn-sm" (click)="setEnd('24hago')">24 h ago</button>
        <button class="btn btn-secondary btn-sm" (click)="setEnd('12hago')">12 h ago</button>
        <button class="btn btn-secondary btn-sm" (click)="setEnd('3hago')">3 h ago</button>
        <button class="btn btn-secondary btn-sm" (click)="setEnd('1hago')">1 h ago</button>
        <button class="btn btn-secondary btn-sm" (click)="setEnd('now')">now</button>
        <span class="badge badge-success float-right">{{ end }}</span>
      </div>
    </div>
  </div>

</div>

<button class="btn btn-success btn-lg" (click)="refreshValues()">Render Chart</button>


<div class="mt-4" *ngIf="loading">
  <strong>Loading...</strong>
</div>

<div style="width: 100%">
  <div>
    <ngx-charts-line-chart
      *ngIf="loaded"
      [results]="data"
      [xAxis]="true"
      [yAxis]="true"
      [legend]="false"
      [autoScale]="true"
      [tooltipDisabled]="true"
      [animations]="false"
      [curve]="curve">
    </ngx-charts-line-chart>
  </div>
</div>
